* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

main {
  width: 360px;
  height: 640px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: hsl(0, 0%, 98%);
  box-shadow: 2px 0 8px lightgray,
              -2px 0 8px lightgray,
              0 2px 8px lightgray,
              0 -2px 8px lightgray;
}

article {
  flex: 10;
  color: hsl(0, 0%, 68%);
  font-size: 1.5rem;
  padding: 10%;
  padding-bottom: 0;
  margin-bottom: 10%;
  line-height: 1.5;
  overflow: hidden;
}

p {
  margin-bottom: 3rem;
}

p:first-child::first-letter {
  font-size: 10rem;
  color: black;
  float: left;
  line-height: 0.8;
  margin-right: 1rem;
}

footer {
  flex: 1;
  display: flex;
  background-color: white;
  box-shadow: 0 -8px 64px hsl(0, 0%, 94%);
}

li:hover {
  background-color: gray;
}

footer a, footer button {
  background-color: white;
  border: none;
}

footer a {
  text-decoration: none;
  display: block;
  text-align: center;
}

footer a:first-child {
  flex: 1;
  font-size: 1.5rem;
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  line-height: 3.442;
}

footer a:first-child:hover {
  color: black;
  transition: 0.1s;
}

ul {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  width: 0.5rem;
  height: 0.5rem;
  background-color: lightgray;
  border-radius: 50%;
}

li:nth-child(2) {
  background-color: gray;
}

footer a:last-child {
  flex: 1;
  background: url('button.png') center 0 / auto 100% no-repeat;
}
